<!DOCTYPE html>
2 <html>
3 <head>
4 <title>Rango</title>
5 </head>
6
7 <body>
8 <h1>Add a Category</h1>
9 <div>
10 <form id="category_form" method="post" action="/rango/add_category/">
11 {% csrf_token %}
12 {% for hidden in form.hidden_fields %}
13 {{ hidden }}
14 {% endfor %}
15 {% for field in form.visible_fields %}
16 {{ field.errors }}
17 {{ field.help_text }}
18 {{ field }}
19 {% endfor %}
20 <input type="submit" name="submit" value="Create Category" />
21 </form>
22 </div>
23 </body>
24 </html>